# Data Structures

## Lists

In [37]:
my_list = [1, 2, 3, 4]
print(my_list)

[1, 2, 3, 4]

In [38]:
my_list = ['list', 'of', 'strings']

In [39]:
my_list = [1, 'list', False, []]

In [40]:
my_list = [[1,2,3],[False, True], []]

In [41]:
len(my_list)

3

## Sets

In [42]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [43]:
type(my_set)

set

In [44]:
len(my_set)

5

In [45]:
my_set = {1,1,2,2}
len(my_set)
print(my_set)

{1, 2}

In [46]:
[1,2] == [2,1]

False

In [47]:
{1,2,3} == {3,2,1,1,1}

True

## Tuples

In [48]:
my_tuple = {1,2,3}

In [49]:
len(my_tuple)

3

In [50]:
(1,2) == (2,1)

False

In [51]:
my_list.append(6)
print(my_list)

[[1, 2, 3], [False, True], [], 6]

## Dictionaries

In [52]:
my_dictionary = {
    'apple' : 'A red fruit',
    'bear' : 'A scary animal'
}

In [53]:
my_dictionary['apple']

'A red fruit'

In [55]:
my_dictionary = {
    'apple' : 'A red fruit',
    'bear' : 'A scary animal',
    'apple' : 'Sometimes a green fruit'
}

In [56]:
my_dictionary['apple']

'Sometimes a green fruit'